/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  font-family: "Bangers", cursive;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  display: inline-block;
  align-items: center;
  border: 1px black dashed;
  margin: 30px;
  padding: 10px;
  background-color: rgb(238, 238, 238);
}

.image {
  max-height: 150px;
}
