.centered {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-style: normal;
  font-weight: lighter;
}

#subtitle {
  font-size: 1.0rem;
}

.div {
  background-color: gray;
}

li {
  list-style-type: none;
}

.content {
  text-decoration: underline;
  background-color: grey;
}

.monospaced {
  font-family: monospace;
  font-size: initial;
  font-weight: initial;
}

h1,
p,
h2 {
  background: grey;
  margin: 0;
}
